.profile__edit-button {
    margin: 0 0 9px 0;
    padding: 0;
    min-height: 24px;
    min-width: 24px;
    align-self: end;
    justify-self: start;
    border: 1px solid #fff;
    background-color: rgb(0, 0, 0, 0);
    background-image: url('../../../images/edit-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile__edit-button {
        margin: 0 0 5px 0;
        min-width: 18px;
        min-height: 18px;
        background-image: url('../../../images/edit-button-sm.svg');
    }
}