.popup__save-button {
    margin: 48px 0 0 0;
    padding: 14px 0 14px 0;
    background-color: #000;
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
}

@media screen and (width <=700px) {
    .popup__save-button {
        margin: 45px 0 0 0;
        font-size: 14px;
    }
}