.photo-gallery__list {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    column-gap: 17px;
    row-gap: 20px;
    list-style: none;
}

@media screen and (width <=700px) {
    .photo-gallery__list {
        grid-template-columns: 282px;
    }
}